job:
  command: |
    set -eou pipefail

    case "$SELFCI_JOB_NAME" in
      main)
        selfci job start "lint"
        selfci job start "cargo"
        ;;

      cargo)
        selfci step start "cargo check"
        cargo check

        selfci step start "cargo build"
        cargo build
        ;;

      lint)
        selfci step start "Fake step"
        selfci step fail --ignore
        selfci step start "Fake step2 "
        selfci step fail
        selfci step start "Fake step 3"
        ;;

      *)
        echo "Unknown job: $SELFCI_JOB_NAME"
        exit 1
    esac

