job:
  command: |
    set -eou pipefail

    case "$SELFCI_JOB_NAME" in
      main)
        selfci job "lint"
        selfci job "cargo"
        ;;

      cargo)
        selfci step "cargo check"
        cargo check

        selfci step "cargo build"
        cargo build
        ;;

      lint)
        echo "Lint passed"
        echo "Or failed"
        false
        ;;

      *)
        echo "Unknown job: $SELFCI_JOB_NAME"
        exit 1
    esac

